{% extends 'main_app/base.html' %}

{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}


<section class="content">
    
    <div class="container-fluid">
        
        <div class="row">
         
            <div class="col-md-12">
                {% url 'add_staff' as add_staff %}
                <a href="{% url 'add_staff'%}" class="btn btn-outline-success" >Add Staff</a>
                <br> <br>

                
                <div class="card">
                    <div class="card-header bg-light" >
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover" >
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Post</th>
                                    <!-- <th>Profile Photo</th> -->
                                    <th>City</th>
                                    <th>Joining Date</th>
                                    <th>Experience</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff in allStaff %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{staff.last_name}}, {{staff.first_name}}</td>
                                    <td>{{staff.email}}</td>
                                    <td>{{staff.gender}}</td>
                                    <td>{{staff.staff.post.name}}</td>
                                    
                                    <!-- <td>
                                        {% if staff.profile_pic == ""  %}
                                        No Image
                                        {% else %}
                                        <img class="img img-fluid mb-2" height="100" width="100"
                                            src="{{staff.profile_pic}}" alt="">
                                        {% endif %}
                                    </td> -->
                                    <td>{{staff.staff.city}}</td>
                                    <td>{{staff.staff.joining_date}}</td>
                                    <td>{{staff.staff.years_of_exp}}</td>
                                    <td>
                                        <a href="{% url 'edit_staff' staff.staff.id %}" class="btn btn-outline-success" style="padding: 2.5px;">Edit</a> - 
                                        <a href="{% url 'delete_staff' staff.staff.id %}" class="btn btn-outline-danger" style="padding: 2.5px;" onclick="return confirm('Are you sure about this ?')">Delete</a>
                                          </a>
                                    
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}